.card {
  border-radius: 30px !important;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: none !important;
  height: 450px !important;
}
.hidden{
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}
.visible{
  visibility: visible;
  opacity: 1;
}
.card .rounded-circle {
  width: 110px;
}
.activity-status {
  background-color: #feb23e;
  color: white;
  border-radius: 10px;
}
.card .progress-bar .progress {
    height: 8px;
}
.clicks-review, .monthly-clicks{
    font-size: 0.8rem;
}
 